html,
body {
  height: 100%;
}

body {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* evenly spaces header, images, login */
  padding: 10px;
  box-sizing: border-box;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
}

img {
  object-fit: cover;
  width: 180px;
  height: 240px;
  aspect-ratio: 3/4;
  border-radius: 10px;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img:hover {
  transform: scale(1.05);
}


.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  margin-bottom: 15px;
}

